*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.main{
    width: 100%;
    height: 100%;
    background:linear-gradient(#6b0449,#410725,#16010b);
}
.page1{
    width: 100vw;
    height: 97.5vh;
}
.logo{
    padding: 0 1vmax;
    width: 15vmax;
    font-size: 1.2vmax;
}
nav ul>li{
    font-size: 1.1vmax;
    font-family: "Roboto light";
    margin-left: 1.1vmax;
}
.page1Content{
    width: 100%;
    height: 89%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vmax 0;
}
.page1Content p{
    width: 40%;
    margin-right: 45vmax;
}
.page1Content img{
    position: absolute;
    top: 14%;
    left: 50%;
    scale: 0.7;
}
.main-head{
    font-size: 10vmax;
    color: white;
    font-family: "Roboto";
    /* margin-bottom: 12vmax; */
}
.main-head span{
    -webkit-text-stroke: 2px white;
    color: transparent;
}

/* =========================================== page 2 start ============================= */

.page2{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#16010b,#0d0107);
    display: flex;
    
    
}
.p2-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p2-right p{
    width: 80%;
}
.p2-right h1{
   font-family: "Roboto";
   letter-spacing: 0.5vmax;
   margin-bottom: 2vmax;
   background-color: #6b0449;
   padding: 1vmax;
}
.p2-right h4{
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 3vmax;
    margin-left: 15vmax;
    margin-top: 1vmax;
}
.p2-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p2-left-img-div{
    width: 55%;
    border: 2px solid white;
    border-top: 0;
    border-right: 0;
    margin-top: 2vmax;
    border-radius: 15px;
    
}
.p2-left-img-div>img{
    width: 100%;
    margin-bottom: 3vmax;
    margin-left: 3vmax;
}
